.users {
    padding: 50px;
    width: 100%;

}

.avatar {
    width: 50px;
    cursor: pointer;
}
.full-name {
    cursor: pointer;
}
.create-user {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}